<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="tasksOnTime" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" restartOnExternalChanges="false" requirePermission="false"/>
  </configSections>
  <tasksOnTime>
    <add key="configTask" value="disabled"/>
  </tasksOnTime>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
</configuration>
